* {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        list-style: none;
        text-decoration: none;
}


body{
    background-color: #030303;
}

header{
    height: 100vh;
}

header .container{
   max-width: 1300px;
   height: 100%;
   margin: 0 auto;
}

header .container nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container nav .left span{
  color: white;
  font-size: 1.4em;
  text-decoration: underline overline #f8f5f5
}


header .container nav .right .call {
    border: 1px solid white;
    border-radius:5px ;
    width: 110px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
  }


  header .container nav .right .call  a{
  color: white;

  }

  header .container .main-content{
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: 200px; 
}


header .container .main-content .texte{
   text-align: center;
}


header .container .main-content .texte h1{
    font-size: 100px;
    background:linear-gradient(to right, #00dbde, #fc00ff);
    text-transform: uppercase;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }


header .container .main-content .texte span{
    color: white;
    font-size: 0.9em; 
}


 header .container .main-content .search-box{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #292929;
    height: 40px;
    border-radius: 5px;
    padding: 10px;
    width: 400px;
 }


 header .container .main-content .search-box .notify-me{
   color: black;
   float: right;
   height: 40px;
   width: 100px;
   border-radius: 5px;
   background: white;
   display: flex;
   align-items: center;
   justify-content: center;
}


header .container .main-content .search-box .search-txt{
    border: none;
    background: none;
    outline:none;
    float: left;
    padding: 0;
    color: #727272;
    font-size: 16px;
    line-height: 40px;
    width: 240px;
}




 


    

