* {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        list-style: none;
        text-decoration: none;
}


body{
    background-color: #030303;
}

header{
    height: 100vh;
}

header .container{
   max-width: 1300px;
   height: 100%;
   margin: 0 auto;
   padding: 0 20px;

}

header .container nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container nav .left span{
  color: white;
  font-size: 1.4em;
  text-decoration: underline overline #f8f5f5
}


header .container nav .right .call {
    border: 1px solid white;
    border-radius:5px ;
    width: 110px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
  }


  header .container nav .right .call  a{
  color: white;

  }

  header .container .main-content{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding-top :200px;
    

    
   
}


header .container .main-content .texte{
   text-align: center;
}


header .container .main-content .texte h1{
    font-size: 100px;
    background:linear-gradient(to right, #00dbde, #fc00ff);
    text-transform: uppercase;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }


header .container .main-content .texte p{
    color: white;
    font-size: 0.9em; 
}

header .container .main-content .texte  a{
    width: 190px;
    height: 50px;
    background:#fc00ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    font-weight: 400;
    font-size: 1em;
    box-shadow: 0px 0px 50px -15px #524f4f;
    margin: 40px auto 0 auto;
}


@media screen and ( max-width: 1024px){

   

    header .container{
        max-width: 900px;
        padding: 0 15px;
        
     }

     header .container .main-content{
       
        padding-top :140px;
        
    
        
       
    }

   
    
}

@media screen and ( max-width: 820px){

    header .container .main-content{
       
        padding-top :250px;
        
    
        
       
    }
   
    
}

@media screen and ( max-width: 540px){

    header .container .main-content .texte h1{
        font-size: 50px;
        line-height: 50px;
        padding-bottom: 30px;
        
     }

   
    
}

@media screen and ( max-width: 412px){

    header .container .main-content{
       
        padding-top :250px;
        
    
        
       
    }
   
    
}

@media screen and ( max-width: 375px){

    header .container .main-content{
       
        padding-top :100px;
        
    
        
       
    }
   
    
}

 


 

 




 


    

