* {
        margin: 0;
        padding: 0;
        font-family: "Poppins", sans-serif;
        list-style: none;
        text-decoration: none;
}


body{
    background-color: #030303;
}

header{
    height: 100vh;
}

header .container{
   max-width: 1300px;
   height: 100%;
   margin: 0 auto;
}

header .container nav{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header .container nav .left span{
  color: white;
  font-size: 1.4em;
  text-decoration: underline overline #f8f5f5
}


header .container nav .right .call {
    border: 1px solid white;
    border-radius:5px ;
    width: 110px;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
  }


  header .container nav .right .call  a{
  color: white;

  }

  header .container .main-content{
    
    max-width: 800px;
    margin: 0 auto;
    margin-top: 200px; 
}


header .container .main-content .texte{
   text-align: center;
}


header .container .main-content .texte h1{
    font-size: 100px;
    background:linear-gradient(to right, #00dbde, #fc00ff);
    text-transform: uppercase;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
 }


header .container .main-content .texte span{
    color: white; 
 }

    

